@model RbacDemo001.Models.User
<span class="logo">RBAC Demo</span>
<span class="right">
    欢迎 @Model.Username
    @Html.DropDownList("role",(IEnumerable<SelectListItem>)ViewBag.roleList)
    @Html.ActionLink("注销","Logout","Home")
</span>
